.text-primary{
	color:black!important;
}

.fas.text-primary,.fa.text-primary{
	/*color:gray!important;*/
}
.bg-secondary{
	background:#4f4f4f   !important;
	color:white;
}
.bg-primary{
	background:#6c6c6c   !important;
	
}
a.btn.bg-primary > h6,a.btn.bg-primary > i{
	color:white!important;
}
a.btn.bg-primary:hover,a.btn.bg-primary:active,a.btn.bg-primary:focus{
	background:gray!important;
	h6,i{
		color:white!important;
	}
}
.top_header,.top_menue_bar{
	background:black!important;
}
a.nav-link{
	color:#a4a4a4!important;
}
a.nav-link:hover{
	color:white  !important;
}
a.nav-link.active{
	text-shadow:1px 2px 3px white;
	color:white  !important;
}
.product_detail_nav {
	border-bottom:1px solid black!important;
	a.nav-link{
		color:#a4a4a4  !important;
		border:1px solid #a4a4a4 ;
		border-bottom:1px solid black;
	}
	a.nav-link:hover{
		color:black   !important;
		border:1px solid #a87411;
		border-bottom:none;
		/*color:#6c4e15  !important;*/
		/*color:#6c4e15  !important;*/
	}
	a.nav-link.active{
		text-shadow:2px 2px 5px #6c6c6c;
		color:black!important;
		border:1px solid black;
		border-bottom:none;
	}
}
.category_dropdown{
	border:1px solid gray  !important;
}
.category_dropdown > div > a.nav-link,.category_dropdown > div > div > a.nav-link{
	color:black!important;;
}
.category_dropdown > div > a.nav-link:hover,.category_dropdown > div > div > a.nav-link:hover{
	background:lightgray   !important;
}
.text-dark{
	color:white !important;
}
.text-muted{
	color:#a4a4a4 !important ;
}
.input-group,.dropdown > #triggerId{
	border:1px solid gray!important;
}
.control-group > .form-control,
.control-group > .custom-select,
.form-group > .form-control,
.form-group > .custom-select{
	border:1px solid gray;
}
.control-group > .form-control:focus,
.control-group > .custom-select:focus,
.form-group > .form-control:focus,
.form-group > .custom-select:focus{
	border:1px solid gray;
	box-shadow:2px 2px 3px gray;
}
.btn-light{
	background:transparent;
}
.btn-light:hover{
	background:black ;
	color:white;
}
.btn-primary{
	color: gray;;
	background-color: black  !important;
	border-color: white;	
}
.btn-outline-primary{
	color: #212529;
	border-color: lightgray ;
}
.btn-outline-primary:hover,.btn-primary:hover{
	background-color: black  !important;
	color:white!important;
	border:1px solid gray;
}
.font-weight-semi-bold{
	text-shadow:1px 1px white;
}
.offer > div > div > div > div > .text-primary{
	color:gray!important;
}
.custom-control-label::before,.custom-control-label::after{
	border-color: black;
}
.custom-control-input:checked ~ .custom-control-label::before{
	color: #fff;
	border-color: black;
	background-color: gray;
}
.filter_side_bar{
	border:1px dashed black;
}
.border-bottom{
	border-bottom:1px dotted black!important;
}
.cat-item{
	background:lightgray;
}
.cat-item > p{
	/*color:white;*/
}
.product-item{
	background:lightgray;
}
.product-item > .card-footer{
	background:gray!important;
}
.product-item > .card-footer > a.text-dark{
	/*color:gray !important;*/
}
.product-item > .card-footer > a.text-dark:hover{
	color:black !important;
}
.page-link {
  color: gray;
  background-color: #fff;
  border: 1px solid lightgray;
}
.page-link:hover{
	color:gray;
	background:lightgray;
	border-color:black;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #797978;
  border-color: black;
}
.page-item.disabled .page-link {
  color: #ccc;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: lightgray;
}
.breadcrump_link_main{
	color:#e69500;
}
.breadcrump_link_main:hover{
	color:#c88305;
}
.product_share_social > p,.product_detail_feature>p{
	color:black!important;
}
.product_share_social > div > a{
	color:gray!important;;
}

.filter_product_separator{
	border-color:black;
}

.about_bottom_section{
	background-color:lightgray;
}

.dropdown-menu > .dropdown-item:hover{
	background-color:gray!important;
	color:white;
}

.custo_entry_block_right {
	border-left: 1px dotted black;
}

.custo_entry_block_left {
	border-right: 1px dotted black;
}

.today_rate_block {
	border: 1px solid black;
	background: lightgray;
}
.today_rate_block>a {
	color: white;
}
#my_rate_block>li>h6 {
	color: black;
}

@media only screen and (max-width: 600px) {
 .category_dropdown_mob{
	 background-color:#d7d7d7 !important ;
 }
 .navbar-light .navbar-toggler{
	 background:lightgray!important;
 }
}