
.login-user {

    padding-top: 10px;
    /* display: flex; */
    color: #f75600;
    border: 1px solid;
    font-weight: 800;
    padding: 10px;
    border-radius: 10px 0 0px 10px;

}

.base-icons {

    color: #fff ;

}

.footer {

    padding: 19px;
    position: fixed;
    bottom: 0;
    background: #FFF;
    width: 100%;
    border-top: 1px solid rgb(0, 0, 0, .2);

}

.layout-px-spacing {

    padding: 20px !important;
    min-height: calc(100vh - 225px) !important;
    /* background: #80808024; */
    background: #f4f6f9;
    overflow-y: scroll;
    height: 82vh;

}

.content-header h1 {

    font-size: 22px ;

}

.card-primary:not(.card-outline)>.card-header {

    background-color: #007bff;

}
.card-primary:not(.card-outline)>.card-header, .card-primary:not(.card-outline)>.card-header a {
    color: #fff;
}
.card-header {

    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: .75rem 1.25rem;
    position: relative;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 0 solid rgba(0, 0, 0, .125);

}

.card-title {

    float: left ;
    font-size: 16px ;
    font-weight: 700 ;
    margin: 0 ;
    margin-bottom: 5px ;
    color : #FFF ;

}

.btn-back {

    background: #ff6c00;

}


.breadcrumb {

  list-style: none;
  overflow: hidden;
  padding: 0;
  /* padding-right: 30px; */

}

 .breadcrumb li { float: left; }
 .breadcrumb-item+.breadcrumb-item::before { color: #fff; }
 .breadcrumb li a {
    color: #f95600;
    text-decoration: none;
    padding: 6px 0 6px 40px;
    background: #ebedf2;
    position: relative;
    display: block;
    float: left;

  }

 .breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid #ebedf2;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

 .breadcrumb li a:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid #ebedf2;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}
 .breadcrumb li:last-child :before { margin-left: -6px; }
 .breadcrumb li:first-child a {
    padding-left: 10px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

 .breadcrumb li a {

    background: #f95600;
    color: #fff;

}

.breadcrumb li a:after { border-left-color: #f95600; }

 .breadcrumb li:last-child {

    pointer-events: none;
    cursor: default;
    padding-left: 20px;
    padding-right: 20px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

}

 .breadcrumb li:last-child:after { border: none; }

 .breadcrumb li.active {

    color: #f95600;
    text-decoration: none;
    padding: 6px 0 6px 40px;
    background: #ebedf2;
    position: relative;
    display: block;
    float: left;
    padding-right: 15px;
    font-weight: 700;
    border: 1px solid;

}
.breadcrumb li.active:before {

    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #ebedf2;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
    border: none;

}

/*
.breadcrumb li.active:after {

    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #ebedf2;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;

} */

.sidebar-wrapper #compact_submenuSidebar.show {

    /* left: 65px; */
    display : block ;
    border-top: 1px solid rgb(0, 0, 0, .2);
    transition: all 5s;
    -webkit-transition: all 5s;
    background: #e9e9e9;

}

.sidebar-wrapper #compact_submenuSidebar.show ~ table , .dataTables_scrollHeadInner {

    /* width: 100% !important ; */

}

/*.sidebar-wrapper #compact_submenuSidebar {

    display: none;
    left: 65px;
    position: relative;
    height: 100%;
    height: calc(81vh);
    top: 60px;
    width: 225px;
    /* padding: 8px 0; */
    /*transition: .3s ease all;
    /* transition: all 5s;
    -webkit-transition: all 5s; */
    /*z-index: 1031;*/
    /*z-index: 1;
    border-left: 1px solid #f1f1ff;
    background: #FFF;
    box-shadow: none;

}*/
/*----------For Slider Menu------------------*/
.sidebar-wrapper #compact_submenuSidebar {

    display: none;
    left: 65px;
    position: relative;
    height: 100%;
    height: calc(81vh);
    top: 60px;
    width: 225px;
    /* padding: 8px 0; */
    transition: .3s ease all;
    /* transition: all 5s;
    -webkit-transition: all 5s; */
    z-index: 1032;
    /*z-index: 1;*/
    border-left: 1px solid #f1f1ff;
    background: #FFF;
    box-shadow: none;

}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li {

    padding: 0;
    list-style: none;
    margin: 10px;

}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list ul li {

    padding: 0;
    list-style: none;
    margin: 10px;
    margin-left: 5px;
    width: 85%;

}

.count-down-card {

    margin-bottom : 20px ;
    border: 1px solid #7e3006;
    border-radius: 30px;
    box-shadow: inset 1px 2px 10px 20px #f956000d;

}


.sidebar-wrapper #compactSidebar .menu-categories::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.sidebar-wrapper #compactSidebar .menu-categories::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.sidebar-wrapper #compactSidebar .menu-categories::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}



::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: #F5F5F5;
    border-radius:10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
    border-radius:10px;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
    border-radius:10px;
}


.dataTables_wrapper .dataTables_scroll .dataTables_scrollBody::-webkit-scrollbar {

    height: 9px; /* Scrollbar height */
    background-color: #888; /* Darker color on hover */

}

.dataTables_wrapper .dataTables_scroll .dataTables_scrollBody::-webkit-scrollbar-thumb {

    background-color: #555; /* Scrollbar color */
    border-radius: 6px; /* Rounded corners */

}

.dataTables_wrapper .dataTables_scroll .dataTables_scrollBody::-webkit-scrollbar-thumb:hover {

    background-color: #888; /* Darker color on hover */

}

.dataTables_wrapper .dataTables_scroll .dataTables_scrollBody::-webkit-scrollbar-track {

    background: #f1f1f1; /* Background color of the track */

}

.base-icons img{

    width: 70px;
    /* background: #FFF; */
    padding: 10px;
    border-radius: 10px;
    object-fit: contain;
    padding-bottom: 0;

}

.cke_notification_warning {

    display: none;

}

.user-profile-dropdown {

    border-top: 1px solid #ffffff9c;

}

.menu.active span ,  .menu.show span {

    color: #FFF;
    background: #f95600;
    border-radius: 10px;
    padding: 3px;
    line-height: normal;
    margin-top: 5px;
    font-weight: 700;

}

.menu .icon_png2 {

    display: none ;

}

.menu.active .icon_png , .menu.show .icon_png {

    display: none ;

}

.menu.active .icon_png2 , .menu.show .icon_png2 {

    display: inline ;

}

.btn-back:hover {

    background: #ff6c00cf;
    box-shadow : none ;

}

.preview-img {

    height: 100px;
    border : 1px solid rgb(0,0,0,0.2) ;
    border-radius : 10px;
    margin : auto;
    display:block ;

}

.tb_img {

    width: 50px;

}

@media only screen and (max-device-width : 768px) {

    .sidebar-closed #compactSidebar {

        left: -150px !important;

    }

    .sidebar-closed #content {

        margin-left: 0;

    }

}
