.select2-selection{
    border-radius: 5px 5px!important; 
}
select.form-control,
input.form-control,
[type="submit"],
[type="button"],
a.btn,
form .card,
textarea.form-control{
	border-radius: 5px 5px
}
select.form-control,
input.form-control,
label.form-control{
    height:25px;
    padding:2px 10px;
    font-size:15px;
    align-content: center;
    line-height: initial!important;
	color:black;
}
.form-control.no-border{
    border:unset;
}
tbody.billing input.no-border:not(.no-hover):hover:not([type="button"]):not([type="radio"]):not([type="checkbox"]),
tbody.billing input.no-border:not(.no-hover):focus:not([type="button"]):not([type="radio"]):not([type="checkbox"]) {
    border-bottom: 1px dashed gray;
}
.table.table_theme>tbody>tr>td  input,
.table.table_theme>tbody>tr>td  select{
    text-align: center;
    font-size:12px;
}
.table.table_theme>tbody>tr>td > input:focus{
    background-color: initial!important;
}
tbody.billing input[readonly]{
    background-color: initial!important;
    cursor: default;
    pointer-events: auto;
}
label.form-control > input[type="radio"],
label.form-control > input[type="checkbox"]{
    /* vertical-align: middle; */
}
label{
    font-size: 12px!important;
}
.flot-label-input {
    position:relative;
    font-size:15px;
}
.flot-label-input > label{
    position: absolute;
    top:-12px;
    left:5px;
    background:white;
}
.flot-label-input > input{
    margin-top:15px;
}
a.ico_btn,button.ico_btn{
    border-radius:50%;
    padding:0 5px;
}
#cke_description,div.editor_container,.input-group > button#daterange-btn{
    border-radius: 15px 15px!important;
	overflow:hidden;
}
div.editor_container{
    border:1px solid lightgray;
}
.input-group  input.form-control,
.input-group >.input-group-prepend >.input-group-text{
    border-radius: 5px 0 0 5px!important;
}
.input-group > .select2-container > .selection > .select2-selection{
    border-radius: 5px 0 0 5px!important;
    height:25px;
    padding:2px 5px;
    font-size:15px;
} 
.select2-container--default 
.select2-selection--single 
.select2-selection__rendered{
    line-height: normal!important;
}
.input-group > .input-group-append button,
.input-group > .input-group-append select,
.input-group > .input-group-append >.input-group-text,
.input-group > .input-group-text,
.input-group-append a{
    border-radius: 0 5px 5px 0;
    overflow:hidden;
    align-content:center;
    line-height: initial;
}
.input-group > .input-group-prepend button,
.input-group > .input-group-prepend select,
.input-group > .input-group-prepend >.input-group-text,
.input-group > .input-group-text,
.input-group-prepend a{
    border-radius: 5px 0 0 5px;
    overflow:hidden;
    align-content:center;
    line-height: initial;
}
.input-group ~ .input.form-control{
	border-radius: 0 5px 5px 0;
}
